body {
    background-color: rgb(153, 223, 228);
}

img {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

 h1 {
     color: aquamarine;
     text-align: center;
}


form {
    text-align: center;
}